* {
    padding: 7px;
}

h2 {
    text-align: center;
}

.search_user {
    text-align: center;
}

#search {
    width: 60%;
}

button {
    margin-left: 30px;
    width: 20%;
    border-radius: 12px;
    border: 0.5px solid;
}

table{
    border: 1px solid #ccc;
    text-align: left;
    width: 80%;
}

th{
    border: 1px solid #ccc;
    padding: 10px 60px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0px;
}

select {
    width: 80%;
}

/* scrollable list if number exceeds 5 */
.scrollList {
    padding: 3px;
    width: 90%;
    height: 450px;
    overflow: scroll;
    border: 1px solid #ccc;
}
